:root {
  --Background: #1A1D23;
  --Highlight:  #FF57B2;
  --Heading:    #F8F8F8;
  --Info:       #BBBBBB;
  --Body:       #D7D7D7;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--Background);
  padding: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
